# Large File Storage
*.csv filter=lfs diff=lfs merge=lfs -text

# Linguist Detectable
*.ipynb linguist-detectable=false
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
