@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "nothing";
  src: url("/fonts/nothing-font-5x7.ttf") format("truetype");
}

body {
  font-family: "nothing", sans-serif;
}
